trainer.app/.idea/
trainer.app/__pycache__/
trainer.app/migrations/
trainer.app/trainer/__pycache__/
trainer.app/venv/
trainer.app/static/
trainer.app/trainer/api_folder/__pycache__/
trainer.app/.venv/
